.heading {
  grid-area: heading;
  margin-bottom: clamp(15px, 3vh, 50px);
}

.greeting {
  font-size: clamp(35px, 3.5vw, 48px);
}

.greeting span {
  color: #FF0101;
}

.congratualtions {
  margin-top: clamp(8px, 1.2vw, 20px);
  font-size: clamp(13px, 1.4vw, 18px);
}