.side-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  max-width: 120px;
  min-width: 90px;
}

.side-bar * {
  color: white;
}

.side-bar ul {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 90px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: clamp(50px, 2vw, 64px);
  width: clamp(50px, 2vw, 64px);
  border-radius: 6px;
}

.copyrights {
  position: absolute;
  bottom: 59px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
  font-size: 12px;
}