.score {
  position: relative;
  width: 100%;
  max-width: 258px;
  height: 263px;
  border-radius: 5px;
  padding-block: 13px;
  background-color: #FBFBFB;
}

.title {
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  left: 30px;
  top: 24px;
}