.score {
  position: relative;
  flex: 1 1 200px;
  max-width: 258px;
  aspect-ratio: calc(263/258);
  border-radius: 5px;
  padding-block: 13px;
  background-color: #FBFBFB;
}

.title {
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  left: 30px;
  top: 24px;
}