.tooltip {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  height: 50px;
  background-color: #E60000;
  font-size: 11px;
  color: white;
  padding: 5px;
}