.statistics {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "heading heading heading nutrients"
    "activity activity activity nutrients"
    "average performance score nutrients";
  padding-top: clamp(20px, 5vw, 68px);
  padding-right: clamp(20px, 6vw, 90px);
  padding-bottom: clamp(20px, 7vw, 86px);
  padding-left: clamp(20px, 8vw, 107px);
}