.nutrient {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 24px;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "logo count"
    "logo name";
  background-color: #FBFBFB;
  padding: clamp(10px, 3vw, 32px);
  border-radius: 5px;
}

.count {
  grid-area: count;
  font-weight: bold;
  font-size: 20px;
}

.name {
  grid-area: name;
  align-self: flex-end;
  color: #74798C;
  font-size: 14px;
  font-weight: 500;
}

.icon {
  position: relative;
  grid-area: logo;
  display: grid;
  place-items: center;
  height: 60px;
  width: 60px;

  border-radius: 6px;
  overflow: hidden;
}

.icon::after {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.2;
}

@media screen and (max-width: 1400px) {
  .nutrient {
    padding: clamp(10px, 1vw, 20px);
    margin-top: 10px;
  }

  .count {
    font-size: clamp(14px, 1.7vw, 20px);
  }

  .name {
    font-size: clamp(11px, 2vw, 14px);
  }

  .icon {
    height: clamp(30px, 5vw, 60px);
    width: clamp(30px, 5vw, 60px);
  }
}