.nutrients {
  grid-area: nutrients;
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 258px;
  width: 100%;
  justify-self: flex-end;
}

@media screen and (max-width: 1400px) {
  .nutrients {
    flex-direction: row;
    justify-self: flex-start;
    gap: clamp(15px, 2vw, 25px);
    max-width: none;
    flex-wrap: wrap;
  }
}