.nutrients {
  grid-area: nutrients;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 258px;
  width: 100%;
  justify-self: flex-end;
}

@media screen and (max-width: 1000px) {
  .nutrients {
    flex-direction: row;
    justify-self: flex-start;
    max-width: none;
    flex-wrap: wrap;
  }
}